<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataDictionary.Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataDictionary.Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataDictionary.Main.Properties.Settings>
            <setting name="UserServers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>(LocalDb)\MSSQLLocalDb.DataDictionary</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IsOnLineMode" serializeAs="String">
                <value>True</value>
            </setting>
        </DataDictionary.Main.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DataDictionary.Main.Properties.Settings>
            <setting name="AppServer" serializeAs="String">
                <value>(LocalDb)\MSSQLLocalDb</value>
            </setting>
            <setting name="AppDatabase" serializeAs="String">
                <value>DataDictionary</value>
            </setting>
            <setting name="AppDbRole" serializeAs="String">
                <value>DataDictionaryApp</value>
            </setting>
            <setting name="AppDbRolePassword" serializeAs="String">
                <value>MyApp131*99</value>
            </setting>
            <setting name="AppDataFile" serializeAs="String">
                <value>AppData.XML</value>
            </setting>
        </DataDictionary.Main.Properties.Settings>
    </applicationSettings>
</configuration>